<head>
    <style>
        .span_um_bloco{
            display: none;
        }
        @media only screen and (max-width: 1154px) {
            .span_um_bloco{
                display: inline;
            }
            .p_dois_blocos{
                display: none;
            }
        }
    </style>
</head>
<div id="debates" class="seção">
    <h2 id="prog_subtitulo">Ciclo de Debates</h2>
    <h2>IGARAPÉ</h2>
    <div class="sobre_grid">
        <div class="sobre_bloco">
                <p class="sobre_p">O <strong>Ciclo de Debates Igarapé</strong> integra-se à programação da <strong>Mostra Cuité</strong> colocando profissionais do audiovisual sulista e nortista para debaterem sobre questões e dificuldades em seu contexto de atuação.</p>
                <p class="sobre_p">Durante a Mostra Cuité serão realizados três debates públicos, um por dia. Cada debate envolverá uma <span class="span_um_bloco">mediadora e duas profissionais do audiovisual, as quais discutirão uma temática específica.</span></p>
        </div>
        <div class="sobre_bloco direita">
            <p class="sobre_p p_dois_blocos">mediadora e duas profissionais do audiovisual, as quais discutirão uma temática específica.</p>
            <p class="sobre_p paragrafo_orfao">O ciclo de debates Igarapé é financiado pela SEDAC RS via FAC Digital #culturaessencial #facdigitalrs #feevale #feevaletechpark</p>
        </div>
    </div>
</div>